  
/* para aprender a usar css */


h1, h2, h3, h4, h4, h5 {
    color: teal;
}

h1{
    font-size: 2rem;
    color: orangered;
}

h2 {
    font-size: 1.8rem;
}

.titulo-mayusculas {
    color: rgb(235, 160, 172);
    text-transform: uppercase;
}

#tituloUnico {
    color: rgb(16, 221, 67);
    text-transform: capitalize;    
}

img {
    width: 100px;
    height: 100px;
}

img:hover {
    width: 500px;
    height: 500px;
    transition-duration: 1s;
}